{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">{{user.username}}'s result to the "{{test.title}}" test</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
        </tr>
        </thead>
        <tbody>
        {% for user_answer in user_answers %}
            <tr>
                <th scope="row">{{user_answer.user.username}}</th>
                <td>{{user_answer.question.problem}}</td>
                <td>{{user_answer.answer.text}}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}