{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--  -->
    <div class="modal" id="CreateQuestionModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="question-create-form" action="{% url 'question-create' test.id %}">{% csrf_token %}
                    <div class="modal-body">
                        <p class="modal-title m-2">Question</p>
                        {{question_form.problem}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Question</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  -->
    <button type="button" class="btn btn-primary m-3" data-toggle="modal" data-target="#CreateQuestionModal">Create Question</button>
    <div id="tests-wrapper">
        <h3>{{test.title}}</h3>
        <ol id="questions-list">
            {% for question in test.questions.all %}
            <li id="question{{question.id}}">
                <!--  -->
                <div class="modal" id="UpdateQuestionModal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="UpdateQuestionModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form class="question-update-form" action="{% url 'question-update' test_id=test.id question_id=question.id %}" method="POST" id="questionUpdateForm{{question.id}}">{% csrf_token %}
                                <div class="modal-body">
                                    <p class="modal-title m-2">Update Question</p>
                                    {{question_update_form.problem}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" form="questionUpdateForm{{question.id}}">Update Question</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--  -->
                {{question.problem}}
                <div class="btn btn-danger question-delete-button m-1" data-url="{% url 'question-delete' test_id=test.id question_id=question.id %}" data-id={{question.id}}>delete question</div>
                <button data-url="{% url 'question-update' test_id=test.id question_id=question.id %}" data-id="{{question.id}}" class="btn btn-success m-1 question-update-button">Update</button>
                <ul id="answers-list{{question.id}}">
                {% for answer in question.answers.all %}
                    <div class="modal" id="UpdateAnswerModal{{answer.id}}" tabindex="-1" role="dialog" aria-labelledby="UpdateAnswerModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form class="answer-update-form" action="{% url 'answer-update' test_id=test.id answer_id=answer.id %}" method="POST" id="answerUpdateForm{{answer.id}}">{% csrf_token %}
                                    <div class="modal-body">
                                        <p class="modal-title m-2">Update Answer</p>
                                        {{answer_update_form.text}}
                                    </div>
                                    <div class="modal-body">
                                        <p class="modal-title m-2">Is correct</p>
                                        {{answer_update_form.is_correct}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" form="answerUpdateForm{{answer.id}}">Update Answer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <li id="answer{{answer.id}}" {% if answer.is_correct %} class="list-group-item list-group-item-success" {% else %} class="list-group-item list-group-item-danger">{% endif %}
                        <label class="form-check-label" for="answer{{answer.id}}">{{answer.text}}</label>
                        <div class="btn btn-danger answer-delete-button m-1" data-url="{% url 'answer-delete' test_id=test.id answer_id=answer.id %}" data-id="{{answer.id}}">delete answer</div>
                        <button data-url="{% url 'answer-update' test_id=test.id answer_id=answer.id %}" data-id="{{answer.id}}" class="btn btn-success m-1 answer-update-button">Update</button>
                    </li>
                {% endfor %}
                </ul>
                <form action="{% url 'answer-create' test_id=test.id question_id=question.id %}" data-question-id="{{question.id}}" id="answer-form{{question.id}}" class="answer-form">{% csrf_token %}
                    {{answer_form}}
                    <button type="submit">create</button>
                </form>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document.body).on('click', '.question-update-button', function (e){
            modal_id = $(this).data('id');
            update_url = $(this).data('url');
            modal_window = $(`#UpdateQuestionModal${modal_id}`);
            modal_form = $(`#questionUpdateForm${modal_id}`);
            $.ajax({
                type: "GET",
                url: update_url,
                data: {test_id: parseInt(modal_id)},
                success: function (response) {
                    modal_form[0][1].value = response['question_problem'];
                }
            })
            modal_window.modal('show');
        });
        $(document.body).on('click', '.answer-update-button', function (e){
            modal_id = $(this).data('id');
            update_url = $(this).data('url');
            modal_window = $(`#UpdateAnswerModal${modal_id}`);
            modal_form = $(`#answerUpdateForm${modal_id}`);
            console.log(modal_id);
            $.ajax({
                type: "GET",
                url: update_url,
                data: {test_id: parseInt(modal_id)},
                success: function (response) {
                    modal_form[0][1].value = response['answer_text'];
                    if (response['answer_is_correct']){
                        modal_form[0][2].checked = true;
                    }
                    else {
                        modal_form[0][2].checked = false;
                    }
                    
                }
            })
            modal_window.modal('show');
        });
        $("#question-create-form").submit(function (e) {
            e.preventDefault();
            
            var question_form = $(this);
            
            $.ajax({
                type: "POST",
                url: question_form.attr('action'),
                data: question_form.serialize(),
                success: function (response) {
                    $("#question-create-form").trigger('reset');
                    $("#id_problem").focus();

                    var instance = JSON.parse(response["new_question"]);
                    var question_id = instance[0]["pk"];
                    var fields = instance[0]["fields"];
                    var delete_url = response["delete_url"];
                    var update_url = response['update_url'];
                    var answer_create_url = response["answer_create_url"];

                    $("#questions-list").append(`
                    <li id="question${question_id}">
                        <div class="modal" id="UpdateQuestionModal${question_id}" tabindex="-1" role="dialog" aria-labelledby="UpdateQuestionModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form class="question-update-form" action="${update_url}" method="POST" id="questionUpdateForm${question_id}">{% csrf_token %}
                                        <div class="modal-body">
                                            <p class="modal-title m-2">Update Question</p>
                                            {{question_update_form.problem}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" form="questionUpdateForm${question_id}">Update Question</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        ${fields["problem"]||""}
                        <div class="btn btn-danger question-delete-button m-1" data-id="${question_id}" data-url="${delete_url}">delete question</div>
                        <button data-url="${update_url}" data-id="${question_id}" class="btn btn-success m-1 question-update-button">Update</button>
                        <ul id="answers-list${question_id}">
                        </ul>
                        <form action="${answer_create_url}" data-question-id="${question_id}" id="answer-form${question_id}" class="answer-form">{% csrf_token %}
                            {{answer_form}}
                            <button type="submit">create</button>
                        </form>
                    </li>
                    `);
                    $("#CreateQuestionModal").modal('hide');
                }
            })
        });


        $(document.body).on('submit', '.answer-form', function (e) {
            e.preventDefault();
            var question_id = this.getAttribute('data-question-id');

            var answer_form = $(this);
            
            $.ajax({
                type: "POST",
                url: answer_form.attr('action'),
                data: answer_form.serialize(),
                success: function (response) {
                    var answer_form = $(`#answer-form${question_id}`);
                    answer_form.trigger('reset');

                    var text_field = answer_form[0]['elements'][1];
                    text_field.focus();

                    var instance = JSON.parse(response["new_answer"]);
                    var fields = instance[0]["fields"];
                    var delete_url = response["delete_url"];
                    var update_url = response["update_url"];
                    var answer_id = instance[0]["pk"];
                    
                    if (fields['is_correct']) {
                        $(`#answers-list${question_id}`).append(`
                        <div class="modal" id="UpdateAnswerModal${answer_id}" tabindex="-1" role="dialog" aria-labelledby="UpdateAnswerModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form class="answer-update-form" action="${update_url}" method="POST" id="answerUpdateForm${answer_id}">{% csrf_token %}
                                        <div class="modal-body">
                                            <p class="modal-title m-2">Update Answer</p>
                                            {{answer_update_form.text}}
                                        </div>
                                        <div class="modal-body">
                                            <p class="modal-title m-2">Is correct</p>
                                            {{answer_update_form.is_correct}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" form="answerUpdateForm${answer_id}">Update Answer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <li id="answer${answer_id}" class="list-group-item list-group-item-success">
                            <label class="form-check-label" for="answer${answer_id}">${fields["text"]||""}</label>
                            <div class="btn btn-danger answer-delete-button m-1" href="${delete_url}" data-url="${delete_url}" data-id="${answer_id}">delete answer</div>
                            <button data-url="${update_url}" data-id="${answer_id}" class="btn btn-success m-1 answer-update-button">Update</button>
                        </li>
                        `)
                    }
                    else {
                        $(`#answers-list${question_id}`).append(`
                        <div class="modal" id="UpdateAnswerModal${answer_id}" tabindex="-1" role="dialog" aria-labelledby="UpdateAnswerModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form class="answer-update-form" action="${update_url}" method="POST" id="answerUpdateForm${answer_id}">{% csrf_token %}
                                        <div class="modal-body">
                                            <p class="modal-title m-2">Update Answer</p>
                                            {{answer_update_form.text}}
                                        </div>
                                        <div class="modal-body">
                                            <p class="modal-title m-2">Is correct</p>
                                            {{answer_update_form.is_correct}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" form="answerUpdateForm${answer_id}">Update Answer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <li id="answer${answer_id}" class="list-group-item list-group-item-danger">
                            <label class="form-check-label" for="answer${answer_id}">${fields["text"]||""}</label>
                            <div class="btn btn-danger answer-delete-button m-1" href="${delete_url}" data-url="${delete_url}" data-id="${answer_id}">delete answer</div>
                            <button data-url="${update_url}" data-id="${answer_id}" class="btn btn-success m-1 answer-update-button">Update</button>
                        </li>
                        `)
                    }
                    
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            })
        });

        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        $(document.body).on('click', '.question-delete-button', function (e){
            e.stopPropagation();
            var delete_url = $(this).data('url');
            var data_id = $(this).data('id');
            $.ajax({
                type: "POST",
                url: `${delete_url}`,
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    test_id: "{{test.id}}",
                    question_id: data_id
                },
                dataType: 'json',
                success: function() {
                    $(`#question${data_id}`).remove();
                }
            })
        });

        $(document.body).on('click', '.answer-delete-button', function (e){
            e.stopPropagation();
            var delete_url = $(this).data('url');
            var data_id = $(this).data('id');
            $.ajax({
                type: "POST",
                url: `${delete_url}`,
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    test_id: "{{test.id}}",
                    answer_id: data_id
                },
                dataType: 'json',
                success: function() {
                    $(`#answer${data_id}`).remove();
                }
            })
        });
    </script>
{% endblock %}