{% extends 'base.html' %}
{% block head_title %}{{test.title}}{% endblock %}
{% block content %}
    {% if test_results %}
        <form style="display: none;" action="{% url 'result-create' test.id %}" data-url="{% url 'user-answer-create' test.id %}" id="gather-result">{% csrf_token %}
            <h3>{{test.title}}</h3>
            <ol>
                {% for question in test.questions.all %}
                <li>
                    {{question.problem}}
                    <ul>
                    {% for answer in question.answers.all %}
                        <li>
                            <input id="answer{{answer.id}}" data-iscorrect="{{answer.is_correct}}" required class="form-check-input" type="radio" name="question{{question.id}}" id="answer{{answer.id}}" value="{{answer.id}}">
                            <label class="form-check-label" for="answer{{answer.id}}">{{answer.text}}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ol>
            <button type="submit" form="gather-result">Send</button>
        </form>
        <div id="scores">
            {% for test_result in test_results %}
            <p id="score">{{test_result.percentage}}% {{test_result.correct_answers}}/{{test_result.test.questions.all|length}}</p>
            {% endfor %}
        </div>
        <button type="button" id="quiz-again">Click to pass quiz again</button>
    {% else %}
        <form action="{% url 'result-create' test.id %}" data-url="{% url 'user-answer-create' test.id %}" id="gather-result">{% csrf_token %}
            <h3>{{test.title}}</h3>
            <ol>
                {% for question in test.questions.all %}
                <li>
                    {{question.problem}}
                    <ul>
                    {% for answer in question.answers.all %}
                        <li>
                            <input id="answer{{answer.id}}" data-iscorrect="{{answer.is_correct}}" required class="form-check-input" type="radio" name="question{{question.id}}" id="answer{{answer.id}}" value="{{answer.id}}">
                            <label class="form-check-label" for="answer{{answer.id}}">{{answer.text}}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ol>
            <button type="submit" form="gather-result">Send</button>
        </form>
    <p>Score: <span id="score"></span></p>
    {% endif %}
    {% endblock %}
    {% block javascript %}
        {{ block.super }}
        <script>
            var questions_id = {{test.questions_id}};

            $('#gather-result').on('submit', function (e){
                e.preventDefault();
                
                var test_result_instance_id;
                var score = 0;
                var gather_form = $(this);
                var checked_answers_id = [];
                for (var question_id of questions_id){
                    checked_answers_id.push(getRadioVal(this, `question${question_id}`));
                }
                for (var checked_answer_id of checked_answers_id){
                    if ($(`#answer${checked_answer_id}`).data('iscorrect') == "True") {
                        score ++;
                    }
                }
                gather_form.css("display", "none");
                $.ajax({
                    type: "POST",
                    url: gather_form.attr('action'),
                    data: {
                        'score': score,
                    },
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    success: function (response) {
                        percentage = response['percentage'] + '%';
                        ratio = response['total_correct_answers'] + '/' + response['total_questions'];
                        $('#scores').append(`<p id="score">${percentage} ${ratio}</p>`);
                        for (var checked_answer_id of checked_answers_id){
                            $.ajax({
                                type: "POST",
                                url: gather_form.data('url'),
                                data: {
                                    'answer_id': checked_answer_id,
                                    'test_result_instance_id': response['test_result_instance_id'],
                                },
                                headers: {
                                    "X-CSRFToken": csrftoken
                                },
                                cache: true,
                            });
                        }
                        $("#quiz-again").css("display", "inline-block");
                        $("#gather-result").trigger('reset');
                    },
                    cache: true,
                });
            });

            var csrftoken = $("[name=csrfmiddlewaretoken]").val();

            function getRadioVal(form, name) {
                var val;
                var radios = form.elements[name];

                for (var i=0, len=radios.length; i<len; i++) {
                    if ( radios[i].checked ) {
                        val = radios[i].value;
                        break;
                    }
                }
                return val;
            }

            $("#quiz-again").on('click', function () {
                $("#gather-result").css("display", "block");
                $(this).css("display", "none");
            });
        </script>
    {% endblock %}